@model Bookland.Models.Bookset

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add a New Book
            </h1>
        </div>
    </div>

    @using (Html.BeginForm("NewBook", "Bookset", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.ID, "ID")
                    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Author, "Author")
                    @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Title, "Title")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Genre, "Genre")
                    @{ 
                        var Genre = new List<SelectListItem>()
                        {
                            new SelectListItem() { Text = "Drama" },
                            new SelectListItem() { Text = "Memoir" },
                            new SelectListItem() { Text = "Family Saga" },
                            new SelectListItem() { Text = "Biography" },
                            new SelectListItem() { Text = "Adventure" },
                            new SelectListItem() { Text = "Romance" }

                        };
                    }
                    @Html.DropDownListFor(x => x.Genre, Genre, new { @class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Language, "Language")
                </div>
                <div class="form-group">
                    @Html.RadioButtonFor(x => x.Language, "English")English
                    @Html.RadioButtonFor(x => x.Language, "Polish")Polish
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Price, "Price")
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PublishDate, "Date of publication")
                    @Html.TextBoxFor(x => x.PublishDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, "Description")
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $("#PublishDate").datetimepicker ({
            format: "DD/MM/YYYY"
        }).on("dp.change", function (e) {
            $(this).data("DateTimePicker").hide();   
        });
    });
</script>