@model List<Bookland.Models.Bookset>

@foreach (var item in Model)
{
    <div style="height: 300px; background-color: #F3F3F3; margin-bottom: 30px;">
        <div style="padding: 30px; font-size: 25px; color: #7b4f9d">@item.Title</div>
        <div style="padding-left: 30px; font-size: 18px;">Author: @item.Author</div>
        <div style="padding-left: 30px; font-size: 18px;">Genre: @item.Genre</div>
        <div style="padding-left: 30px; font-size: 18px;">Price: @item.Price $</div>
        <div style="padding-left: 30px; font-size: 18px;">Language: @item.Language</div>
        <div style="padding-left: 30px; font-size: 18px;">Publish Date: @item.PublishDate</div>
        <div style="padding-left: 30px; padding-right: 30px; font-size: 18px;">Description: @item.Description</div>
    </div>
}
